spring:
  kafka:
    producer:
      bootstrap-servers: ${KAFKA_SERVERS:localhost:9092}
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

event:
  sender:
    topic: events
  store: events-store

logging:
  level:
    root: INFO
    es.eci.elejandria: DEBUG